<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">

  <xacro:macro name="carlikebot" params="prefix">

    <!-- ========================= -->
    <!-- Robot properties          -->
    <!-- ========================= -->

    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- Chassis -->
    <xacro:property name="base_mass" value="4.0"/>
    <xacro:property name="base_length" value="0.525"/>
    <xacro:property name="base_width" value="0.10"/>
    <xacro:property name="base_height" value="0.060"/>

    <!-- Wheel geometry -->
    <xacro:property name="wheelbase" value="0.325"/>
    <xacro:property name="wheel_radius" value="0.05"/>
    <xacro:property name="wheel_len" value="0.045"/>
    <xacro:property name="wheel_mass" value="0.34055"/>

    <!-- ========================= -->
    <!-- Base link                 -->
    <!-- ========================= -->

    <link name="${prefix}base_link"/>

    <!-- ========================= -->
    <!-- Chassis                   -->
    <!-- ========================= -->

    <link name="${prefix}chassis_link">

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>

        <material name="orange"/>
      </visual>

      <inertial>

        <origin xyz="0 0 0"
                rpy="0 0 0"/>

        <mass value="${base_mass}"/>

        <inertia
          ixx="0.000270"
          ixy="0.0"
          ixz="0.0"
          iyy="0.000270"
          iyz="0.0"
          izz="0.000426"/>

      </inertial>

    </link>

    <!-- ========================= -->
    <!-- Fixed joint               -->
    <!-- ========================= -->

    <joint name="${prefix}chassis_joint"
           type="fixed">

      <parent link="${prefix}base_link"/>

      <child link="${prefix}chassis_link"/>

      <origin
          xyz="0 0 ${base_height/2 + wheel_radius}"
          rpy="0 0 0"/>

    </joint>
    <link name="${prefix}rear_wheel">

      <collision>
        <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
        <geometry>
          <cylinder
              radius="${wheel_radius}"
              length="${wheel_len}"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
        <geometry>
          <cylinder
              radius="${wheel_radius}"
              length="${wheel_len}"/>
        </geometry>

        <material name="black"/>
      </visual>

      <inertial>

        <origin xyz="0 0 0"
                rpy="${PI/2} 0 ${PI/2}"/>

        <mass value="${wheel_mass}"/>

        <inertia
            ixx="0.000270"
            ixy="0.0"
            ixz="0.0"
            iyy="0.000270"
            iyz="0.0"
            izz="0.000426"/>

      </inertial>

    </link>

    <!-- ========================= -->
    <!-- Rear wheel joint          -->
    <!-- ========================= -->

    <joint
        name="${prefix}rear_wheel_joint"
        type="continuous">

      <parent link="${prefix}chassis_link"/>
      <child link="${prefix}rear_wheel"/>

      <!-- rueda ubicada en el centro trasero -->
      <origin
          xyz="-${wheelbase/2} 0 -${base_height/2}"
          rpy="0 0 ${PI/2}"/>

      <!-- eje de giro -->
      <axis xyz="1 0 0"/>

      <limit
          effort="100.0"
          velocity="100.0"/>

      <dynamics damping="0.2"/>

    </joint>
    <!-- ========================= -->
    <!-- Front wheel               -->
    <!-- ========================= -->

    <link name="${prefix}front_wheel">

      <collision>
        <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
        <geometry>
          <cylinder
              radius="${wheel_radius}"
              length="${wheel_len}"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}"/>
        <geometry>
          <cylinder
              radius="${wheel_radius}"
              length="${wheel_len}"/>
        </geometry>

        <material name="black"/>
      </visual>

      <inertial>

        <origin xyz="0 0 0"
                rpy="${PI/2} 0 ${PI/2}"/>

        <mass value="${wheel_mass}"/>

        <inertia
            ixx="0.000270"
            ixy="0.0"
            ixz="0.0"
            iyy="0.000270"
            iyz="0.0"
            izz="0.000426"/>

      </inertial>

    </link>

    <!-- ========================= -->
    <!-- Steering joint            -->
    <!-- ========================= -->

    <joint
        name="${prefix}front_wheel_joint"
        type="revolute">

      <parent link="${prefix}chassis_link"/>
      <child link="${prefix}front_wheel"/>

      <!-- rueda ubicada en el centro delantero -->
      <origin
          xyz="${wheelbase/2} 0 -${base_height/2}"
          rpy="0 0 ${PI/2}"/>

      <!-- eje de dirección -->
      <axis xyz="0 0 1"/>

      <limit
          lower="-0.6"
          upper="0.6"
          effort="100.0"
          velocity="10.0"/>

      <dynamics damping="0.2"/>

    </joint>

  </xacro:macro>

</robot>