<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="carlikebot_ros2_control" params="prefix">
    <ros2_control name="CarLikeSystem" type="system">
      <hardware>
        <plugin>mi_ackermann_hardware/AckermannHardware</plugin>
        <param name="ip">10.168.48.1</param>
        <param name="port">12348</param>
        <param name="traction_type">large</param>
      </hardware>

      <joint name="${prefix}virtual_front_wheel_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}virtual_rear_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>

    </ros2_control>
  </xacro:macro>
</robot>