<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="carlikebot_ros2_control"
               params="prefix hardware_type:=real">

    <ros2_control name="CarLikeSystem" type="system">

      <hardware>

        <!-- MOCK -->
        <xacro:if value="${hardware_type == 'mock'}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>

        <!-- GAZEBO -->
        <xacro:if value="${hardware_type == 'gazebo'}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>

        <!-- HARDWARE REAL -->
        <xacro:if value="${hardware_type == 'real'}">
          <plugin>mi_ackermann_hardware/AckermannHardware</plugin>
          <param name="ip">192.168.0.103</param>
          <param name="port">12348</param>
          <param name="traction_type">large</param>
        </xacro:if>

      </hardware>

      <!-- ================================= -->
      <!-- Steering wheel                    -->
      <!-- ================================= -->

      <joint name="${prefix}front_wheel_joint">

        <command_interface name="position"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>

      <!-- ================================= -->
      <!-- Traction wheel                    -->
      <!-- ================================= -->

      <joint name="${prefix}rear_wheel_joint">

        <command_interface name="velocity"/>

        <state_interface name="position"/>
        <state_interface name="velocity"/>

      </joint>

    </ros2_control>

  </xacro:macro>

</robot>